<%- include('./header') %>
       
        
        <br>
         
        <br>
        <br>
        <br>
             
 <!--------------about----------------------->
        
   
        
        <div class="container">
                <div class="row">
  <div class="team">




        <div class="ourteam">
            <div class="container text-center">
                <h1>OUR AMAZING TEAM</h1>
                <p>They Made This Site Awsome</p>




                <div class="row teamsetting">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/1.jpg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>ARPAN SAHA</h4>
                                <P class="figure-caption">ECE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/2.jpg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>RAJDEEP SARKAR</h4>
                                <P class="figure-caption">ECE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>
                
                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/4.jpg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>GUNJAN GANGULY</h4>
                                <P class="figure-caption">ECE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/3.jpg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>SOURAV BHADRA</h4>
                                <P class="figure-caption">ECE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>
                    

                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/5.jpeg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>PREETAM SARKAR</h4>
                                <P class="figure-caption">CSE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>


                  
                    
                    
                
                </div>
            </div>


       

    </div></div>
       
        
        
        
        
        
        
        
        
        
        
        
            </div> 
        </div>
        
        
        
        
        
      
        
        
        
        
        
        
        
        
      
 <!--------------footer----------------------->
        
        
        
         <div class="footer">
             <section id="foot">
            <div class="smallcontainer">
            <div class="row">
                <div class="footer-col-1">
                <h3>Download Our App</h3>
                    <p>Download APP for Android or Ios mobile Phone</p>
                    <div class="app-logo">
                    <img src="image/app-store.png">
                        <img src="image/play-store.png">
                    </div>
                </div>
                
                 <div class="footer-col-2">
                <img src="image/logo1.png">
                    <p>Give Your Thought A New Limits! </p>
                </div>
                     
               
                   
                <div class="footer-col-3">
                <h3>Usefull links</h3>
                   <ul>
                    <li>Cuppons</li>
                     <li>Blog post</li>
                        <li>Return Policy</li>
                       <li>Join Affiliate</li>
                    </ul>
                </div>
                
                
  
                
                 <div class="footer-col-4">
                <h3>Follow us </h3>
                   <ul>
                    <li>Facebook</li>
                     <li>Twitter</li>
                        <li>Instagram</li>
                       <li>Youtube</li>
                    </ul>
                </div>
                
                
             
                
                <hr>
                <p class="copyright">&copy; Copyright 2020 - ElectroNovas</p>
             </div>
        </div>
        
             </section>
        </div>
        
        
        
        <!--- js for toggle menu----->
        
        
        <script>
            var MenuItems =document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px";
            function menutoggle(){
                if(MenuItems.style.maxHeight=="0px")
                    {
                        MenuItems.style.maxHeight="200px";
                    }
                else
                {
                   MenuItems.style.maxHeight="0px" 
                }
            }
        
        
        </script>
        
        
        
      
        
        
        
        
        
        
        
        
    </body>
</html>