<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ALL PRODUCTS-ELECTRO MARKET</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    
    
    
    
</head>
    <body>
    
        
        
   <div class="container">
       
    <div class="navbar">
                         <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

        
        <div class="logo">
            <a href="/"> <img src="image/logo62.png" width="260px"></a>
        </div>  
        
        <nav>
            <ul id="MenuItems" >
                <% if(user){ %>
                    <li><a href="/" class="nav-link text-white">Home</a></li>
                    <li><a href="/products" class="nav-link text-white">Products</a></li>
                    <li><a href="/projects" class="nav-link text-white">Projects</a></li>
                    <li><a href="/about" class="nav-link text-white">About</a></li>
                    <li><a href="#foot" class="nav-link text-white">Contact</a></li>
                    <li class="nav-link text-white"> <%= user.email %></li>
                    <li><a href="/logout" class="nav-link text-white">Logout</a></li>
                <%} else { %>
                    <li><a href="/" class="nav-link text-white">Home</a></li>
                    <li><a href="/products" class="nav-link text-white">Products</a></li>
                    <li><a href="/projects" class="nav-link text-white">Projects</a></li>
                    <li><a href="/about" class="nav-link text-white">About</a></li>
                    <li><a href="#foot" class="nav-link text-white">Contact</a></li>
                    <li><a href="/account" class="nav-link text-white">Account</a></li>  
                <% }%>      
            
            </ul>
        </nav>
        <img src="image/cart.png" width="30px" height="30px">
         <img src="image/menu.png" class="menu-icon" onclick="menutoggle()">
       </div>
    </div>
       
        
        <br>
         
        <br>
        <br>
        <br>
             
 <!--------------about----------------------->
        
   
        
        <div class="container">
                <div class="row">
  <div class="team">




        <div class="ourteam">
            <div class="container text-center">
                <h1>OUR AMAZING TEAM</h1>
                <p>They Made This Site Awsome</p>




                <div class="row teamsetting">
                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/1.jpg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>ARPAN SAHA</h4>
                                <P class="figure-caption">ECE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>

                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/2.jpg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>RAJDEEP SARKAR</h4>
                                <P class="figure-caption">ECE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>
                
                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/4.jpg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>GUNJAN GANGULY</h4>
                                <P class="figure-caption">ECE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>


                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/3.jpg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>SOURAV BHADRA</h4>
                                <P class="figure-caption">ECE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>
                    

                    <div class="col-lg-4 col-md-4 col-sm-10 col-12 d-block m-auto">
                        <figure class="figure">
                            
                            <img src="image/5.jpeg" class="figure-img img-fluid rounded-circle"
                            height="250px" width="250px">
                            <figcaption>
                                <h4>PREETAM SARKAR</h4>
                                <P class="figure-caption">CSE-3rdyear</P>
                            </figcaption>
                        </figure>
                        

                    </div>


                  
                    
                    
                
                </div>
            </div>


       

    </div></div>
       
        
        
        
        
        
        
        
        
        
        
        
            </div> 
        </div>
        
        
        
        
        
      
        
        
        
        
        
        
        
        
      
 <!--------------footer----------------------->
        
        
        
         <div class="footer">
             <section id="foot">
            <div class="smallcontainer">
            <div class="row">
                <div class="footer-col-1">
                <h3>Download Our App</h3>
                    <p>Download APP for Android or Ios mobile Phone</p>
                    <div class="app-logo">
                    <img src="image/app-store.png">
                        <img src="image/play-store.png">
                    </div>
                </div>
                
                 <div class="footer-col-2">
                <img src="image/logo1.png">
                    <p>Give Your Thought A New Limits! </p>
                </div>
                     
               
                   
                <div class="footer-col-3">
                <h3>Usefull links</h3>
                   <ul>
                    <li>Cuppons</li>
                     <li>Blog post</li>
                        <li>Return Policy</li>
                       <li>Join Affiliate</li>
                    </ul>
                </div>
                
                
  
                
                 <div class="footer-col-4">
                <h3>Follow us </h3>
                   <ul>
                    <li>Facebook</li>
                     <li>Twitter</li>
                        <li>Instagram</li>
                       <li>Youtube</li>
                    </ul>
                </div>
                
                
             
                
                <hr>
                <p class="copyright">&copy; Copyright 2020 - ElectroNovas</p>
             </div>
        </div>
        
             </section>
        </div>
        
        
        
        <!--- js for toggle menu----->
        
        
        <script>
            var MenuItems =document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px";
            function menutoggle(){
                if(MenuItems.style.maxHeight=="0px")
                    {
                        MenuItems.style.maxHeight="200px";
                    }
                else
                {
                   MenuItems.style.maxHeight="0px" 
                }
            }
        
        
        </script>
        
        
        
      
        
        
        
        
        
        
        
        
    </body>
</html>