<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ALL PRODUCTS-ELECTRO MARKET</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
    <body>
    
        
        
   <div class="container">
    <div class="navbar">
        <div class="logo">
            <a href="../index.html">  <img src="image/logo112.png" width="260px"></a>
        </div>  
        
        <nav>
            <ul id="MenuItems">
            
                <li><a href="../index.html">Home</a></li>
                <li><a href="products.html">Products</a></li>
                <li><a href="">Projects</a></li>
                <li><a href="about.html">About</a></li>
                <li><a href="#foot">Contact</a></li>
                <li><a href="account.html">Account</a></li>        
            
            </ul>
        </nav>
        <img src="image/cart.png" width="30px" height="30px">
         <img src="image/menu.png" class="menu-icon" onclick="menutoggle()">
        
        
        
        </div>
     

    </div>
       
        
        
          <!-----------------cart items details-------------------------->
        
           <div class="smallcontainer cart-page">
               <table>
                   <tr>
                       <th>Product</th>
                       <th>Quantity</th>
                       <th>Subtotal</th>
                   </tr>
                   
                   <tr>
                       <td>
                           <div class="cart-info">
                               <img src="image/c1.jpg">
                               <div>
                                   <p>Raspberry Pi</p>
                                   <small>Price : $50.00</small>
                                   <br>
                                   <a href="">Remove</a>
                               
                               </div>
                           
                           </div>
                       
                       
                       </td>
                       <td><input type="number" value="1"></td>
                       <td>$50.00</td>
                   
                   
                   
                   </tr>
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   <tr>
                       <td>
                           <div class="cart-info">
                               <img src="image/c3.jpeg">
                               <div>
                                   <p>Node MCU</p>
                                   <small>Price : $10.00</small>
                                   <br>
                                   <a href="">Remove</a>
                               
                               </div>
                           
                           </div>
                       
                       
                       </td>
                       <td><input type="number" value="1"></td>
                       <td>$50.00</td>
                   
                   
                   
                   </tr>
               
                   
                   
                   
                   
                   
                   
                   
                   <tr>
                       <td>
                           <div class="cart-info">
                               <img src="image/c8.jpg">
                               <div>
                                   <p>170 pts Mini Breadboard SYB-170 White</p>
                                   <small>Price : $30.00</small>
                                   <br>
                                   <a href="">Remove</a>
                               
                               </div>
                           
                           </div>
                       
                       
                       </td>
                       <td><input type="number" value="1"></td>
                       <td>$50.00</td>
                   
                   
                   
                   </tr>
               
                   
                   
                   
                   
                   
                   
                   
                   
                   
                   
    
               
               </table>
               
               
            <div class="total-price">
                <table>
                    <tr>
                        <td>Sub-Total</td>
                        <td>$200.00</td>
                    
                    
                    </tr>
                    
                    
                    <tr>
                        <td>Tax</td>
                        <td>$50.00</td>
                    
                    
                    </tr>
                    
                    
                    
                    <tr>
                        <td>Sub-Total</td>
                        <td>$250.00</td>
                    
                    
                    </tr>
                
                
                </table>
               </div>   
               
               
               
               
               
               
               
               
               
        </div>
 
        
        
        
        
        
        
        
        
        
      
 <!--------------footer----------------------->
        
        
        
         <div class="footer">
             <section id="foot">
            <div class="smallcontainer">
            <div class="row">
                <div class="footer-col-1">
                <h3>Download Our App</h3>
                    <p>Download APP for Android or Ios mobile Phone</p>
                    <div class="app-logo">
                    <img src="image/app-store.png">
                        <img src="image/play-store.png">
                    </div>
                </div>
                
                 <div class="footer-col-2">
                <img src="image/logo1.png">
                    <p>Give Your Thought A New Limits! </p>
                </div>
                     
               
                   
                <div class="footer-col-3">
                <h3>Usefull links</h3>
                   <ul>
                    <li>Cuppons</li>
                     <li>Blog post</li>
                        <li>Return Policy</li>
                       <li>Join Affiliate</li>
                    </ul>
                </div>
                
                
  
                
                 <div class="footer-col-4">
                <h3>Follow us </h3>
                   <ul>
                    <li>Facebook</li>
                     <li>Twitter</li>
                        <li>Instagram</li>
                       <li>Youtube</li>
                    </ul>
                </div>
                
                
             
                
                <hr>
                <p class="copyright">&copy; Copyright 2020 - ElectroNovas</p>
             </div>
        </div>
             </section>
        
        </div>
        
        
        
        <!--- js for toggle menu----->
        
        
        <script>
            var MenuItems =document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px";
            function menutoggle(){
                if(MenuItems.style.maxHeight=="0px")
                    {
                        MenuItems.style.maxHeight="200px";
                    }
                else
                {
                   MenuItems.style.maxHeight="0px" 
                }
            }
        
        
        </script>
        
        
        
      
        
        
        
        
        
        
        
        
    </body>
</html>