<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>ALL PRODUCTS-ELECTRO MARKET</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@1,300&family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    
    
    
    
    
</head>
    <body>
    
        
        
   <div class="container">
       
    <div class="navbar">
                         <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">

        
        <div class="logo">
            <a href="/"> <img src="image/logo62.png" width="260px"></a>
        </div>  
        
        <nav>
            <ul id="MenuItems">
            
                <li><a href="/" class="nav-link text-white">Home</a></li>
                <li><a href="/#pro" class="nav-link text-white">Products</a></li>
                <li><a href="/#proj" class="nav-link text-white">Projects</a></li>
                <li><a href="/about" class="nav-link text-white">About</a></li>
                <li><a href="#foot" class="nav-link text-white">Contact</a></li>
                <li><a href="/account" class="nav-link text-white">Account</a></li>        
            
            </ul>
        </nav>
        <img src="image/cart.png" width="30px" height="30px">
         <img src="image/menu.png" class="menu-icon" onclick="menutoggle()">
       </div>
    </div>