<%- include('./header') %>
       
        
        
          <!-----------------single products details-------------------------->
           
 
        
        <div class="smallcontainer single-products">
            
            
            
            <div class="row">
            <div class="col-2">
                <img src="image/c8.jpg" width="100%" id="Productimg">
                
                <div class="small-img-row">
                
                  <div class="small-img-col">
                      <img src="image/c8.jpg" width="100px" class="small-img">
                
                
                </div>
                    
                  <div class="small-img-col">
                      <img src="image/b11.jpg" width="100%" class="small-img">
                
                
                </div>
                
                    
                  <div class="small-img-col">
                      <img src="image/b12.jpg" width="100%" class="small-img">
                
                
                </div>
                
                    
                  <div class="small-img-col">
                      <img src="image/b13.jpg" width="100%" class="small-img">
                
                
                </div>
                
                
                    
                    
                </div>
                
                
                
        
                </div>
                <div class="col-2">
                    <p>Home / Products</p>
                    
                    
                    <h1>170 pts Mini Breadboard SYB-170 White</h1>
                    <h4>INR. 100.00</h4>
                    
                    
                    <input type="number" value="1">
                    <a href="/cart" class="btn">Add To Cart</a>
                    
                    
                    <h3>Product Details  <i class="fa fa-indent"></i> </h3>
                    <br>
                    <p>A thin plastic board used to hold electronic components (transistors, resistors, chips, etc.) that are wired together. Used to develop prototypes of electronic circuits, breadboards can be reused for future jobs.</p>
                    
                    
                </div>
            </div>
        </div>
        
          <!-----------------tittle-------------------------->
           
        <div class="smallcontainer">
            <div class="row row-2">
            
            <h2>Related Products</h2>
            <p>View More</p>
            </div>
        
        </div>
        
        
        
        
        
          <!-----------------product------------------------->
           
        
        
        <div class="smallcontainer">
        
      
            
            
            
            
            <div class="row">
            <div class="col-4">
                <a href="/products-detail"> <img src="image/c1.jpg">
                    <h4>Raspberry Pi</h4></a>
                <div class="rating">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>  
                <i class="fa fa-star-half-o"></i>   
                    
                    
                </div>
                <p>INR. 700.00</p>
                
                
                </div>
                
               <div class="col-4">
                <img src="image/c2.jpg">
                <h4>GSM MODULE</h4>
                <div class="rating">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>  
                <i class="fa fa-star"></i>   
                    
                    
                </div>
                <p>INR. 300.00</p>
                
                
                </div>
                
                
                
                
                
                <div class="col-4">
                <img src="image/c6.jpg">
                <h4>Capacitor</h4>
                <div class="rating">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>  
                <i class="fa fa-star-half-o"></i>   
                    
                    
                </div>
                <p>INR. 50 (for 30 piece)</p>
                
                
                </div>
                
              
                
                <div class="col-4">
                <img src="image/c4.jpg">
                <h4>Arduino Nano Clone ATMega328P + CH340</h4>
                <div class="rating">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>  
                <i class="fa fa-star-o"></i>   
                    
                    
                </div>
                <p>INR. 250.00</p>
                
                
                </div>
                
                
                
                
                
                
                
            </div>
    
        
            
            
            
    
            
            
            
            
            
        

            
                              
            
        </div>
        
        
        
        
        
        
        
        
      
 <!--------------footer----------------------->
        
        
        
         <div class="footer">
             <section id="foot">
            <div class="smallcontainer">
            <div class="row">
                <div class="footer-col-1">
                <h3>Download Our App</h3>
                    <p>Download APP for Android or Ios mobile Phone</p>
                    <div class="app-logo">
                    <img src="image/app-store.png">
                        <img src="image/play-store.png">
                    </div>
                </div>
                
                 <div class="footer-col-2">
                <img src="image/logo1.png">
                    <p>Give Your Thought A New Limits! </p>
                </div>
                     
               
                   
                <div class="footer-col-3">
                <h3>Usefull links</h3>
                   <ul>
                    <li>Cuppons</li>
                     <li>Blog post</li>
                        <li>Return Policy</li>
                       <li>Join Affiliate</li>
                    </ul>
                </div>
                
                
  
                
                 <div class="footer-col-4">
                <h3>Follow us </h3>
                   <ul>
                    <li>Facebook</li>
                     <li>Twitter</li>
                        <li>Instagram</li>
                       <li>Youtube</li>
                    </ul>
                </div>
                
                
             
                
                <hr>
                <p class="copyright">&copy; Copyright 2020 - ElectroNovas</p>
             </div>
        </div>
             </section>
        
        </div>
        
        
        
        <!--- js for toggle menu----->
        
        
        <script>
            var MenuItems =document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px";
            function menutoggle(){
                if(MenuItems.style.maxHeight=="0px")
                    {
                        MenuItems.style.maxHeight="200px";
                    }
                else
                {
                   MenuItems.style.maxHeight="0px" 
                }
            }
        
        
        </script>
        
        
        
         <!--- js for product galery----->
        
        
        
        <script>
        var Productimg=document.getElementById("Productimg");
        var smallimg=document.getElementsByClassName("small-img");   
            smallimg[0].onmouseover=function()
            {
                Productimg.src=smallimg[0].src;
            }
            smallimg[1].onmouseover=function()
            {
                Productimg.src=smallimg[1].src;
            }
            smallimg[2].onmouseover=function()
            {
                Productimg.src=smallimg[2].src;
            }
            smallimg[3].onmouseover=function()
            {
                Productimg.src=smallimg[3].src;
            }
            
            
            
            
            
            
            
            
            
            
            
            
            
        
        </script>
        
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>
</html>