<%- include('./header') %>
       
        
        
          <!-----------------single project details-------------------------->
           
 
        
        <div class="smallcontainer single-products" style="margin-top: 20px">
        
            
            
            <div class="row">
            <div class="col-2">
             <img src="image/wheelchair.jpg" width="120%" id="Productimg">
                <div class="small-img-row">
                    <h3 style="padding-bottom: 10px">Required Components</h3>
                </div>
                <div class="small-img-row">
                
                  
                    
                  <div class="small-img-col">
                      <img src="image/wheelchair.jpg" width="100%" class="small-img">
                
                
                </div>
                    
                    <div class="small-img-col">
                        <a href="/products-detail-2"><img src="image/c5.jpg" width="100%" class="small-img" style="padding-top: 5px">
                            <p>Arduino</p></a>
                
                </div>
                
                    
                  <div class="small-img-col">
                      <a href="/products-detail-4"><img src="image/c8.jpg" width="100%" class="small-img"></a>
                    <p>Bread Board</p>
                
                </div>
                
                    
                  <div class="small-img-col">
                      <a href="products-detail-3"><img src="image/q1.jpg" width="100%" class="small-img"></a>
                
                    <p>Jumper Wire</p>
                </div>
                
            </div>
                
                   <div class="small-img-row">
                
                  
                    
                  <div class="small-img-col" style="padding-top: 20px">
                      <img src="image/c2.jpg" width="100%" class="small-img" >
                
                    <p>GSM Module</p>
                </div>
                    
                    <div class="small-img-col">
                        <a href="/products-detail-1"><img src="image/c3.jpeg" width="100%" class="small-img" style="padding-top: 20px;"></a>
                    <p>NodeMCU</p>
                
                </div>
                
                    
                  <div class="small-img-col">
                      <img src="image/a3.jpg" width="100%" class="small-img">
                
                    <p>Pulse Sensor</p>
                </div>
                
                    
                  <div class="small-img-col">
                      <img src="image/a6.jpg" width="100%" class="small-img">
                        <p>Bluetooth Module</p>
                
                </div>
                       
                       <div class="small-img-col">
                      <img src="image/a7.jpg" width="100%" class="small-img">
                        <p>Motor</p>
                
                </div>
                
            </div>
                
                
        
                </div>
                <div class="col-2" style="padding-top:0px; padding-left: 40px ">
                    <p>Home / Projects</p>
                    
                    
                    <h1 style="margin-bottom: 75px;margin-top: 75px">Smart WheelChair</h1>
                    <h4 style="margin-bottom: 30px">INR. 2000.00</h4>
                    <select>
                        <option>Select Project</option>
                         <option>Prepared</option>
                        <option>Only Components</option>
                    
                    
                    </select>
                    
                    <input type="number" value="1">
                    <a href="" class="btn">Add To Cart</a>
                    
                    
                    <h3 style="padding-top: 20px">Project Details  <i class="fa fa-indent"></i> </h3>
                    <br>
                    <p>The Project " Smart Wheelchair with Inbuilt Health Monitoring System " deals with monitoring of 24x7 live health condition of a Physically Handicapped / aged person. For any kind of emergency an instant Text with be generated and sent to consulted Doctor and parents for necessary actions.</p>
                    
                    
                </div>
            </div>
        </div>
        
          <!-----------------tittle-------------------------->
           
        <div class="smallcontainer">
            <div class="row row-2">
            
            <h2>Related Projects</h2>
            <p>View More</p>
            </div>
        
        </div>
        
        
        
        
        
          <!-----------------project------------------------->
           
        
        
        <div class="smallcontainer">
        
      
            
            
            
        <div class="row">
            <div class="col-4">
                <img src="image/babycry.jpeg">
                <h4>Auto Baby Cry Detector Sleep Music Player</h4>
                <div class="rating">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>  
                <i class="fa fa-star-half-o"></i>   
                    
                    
                </div>
                <p>INR. 800.00</p>
                
                
                </div>


                <div class="col-4">
                    <a href="/project1"><img src="image/bottle.jpg"></a>
                    <a href="/project1"> <h4>Smart Saline Bottle</h4></a>
                <div class="rating">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>  
                <i class="fa fa-star-half-o"></i>   
                    
                    
                </div>
                <p>INR. 1500.00</p>
                
                
                </div>


                
               <div class="col-4">
                <img src="image/traffic.jpeg">
                <h4>IR Traffic Detection and Signal Manager USing PIC</h4>
                <div class="rating">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>  
                <i class="fa fa-star"></i>   
                    
                    
                </div>
                <p>INR. 1000.00</p>
                
                
                </div>
                

                
                <div class="col-4">
                <img src="image/home.png">
                <h4>Home Automation</h4>
                <div class="rating">
                
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>  
                <i class="fa fa-star-o"></i>   
                    
                    
                </div>
                <p>INR. 2500.00</p>
                
                
                </div>
                
                
                
                
                
                
                
            </div>
            
            
        

            
                              
            
        </div>
        
        
        
        
        
        
        
        
      
 <!--------------footer----------------------->
        
        
        
         <div class="footer">
             <section id="foot">
            <div class="smallcontainer">
            <div class="row">
                <div class="footer-col-1">
                <h3>Download Our App</h3>
                    <p>Download APP for Android or Ios mobile Phone</p>
                    <div class="app-logo">
                    <img src="image/app-store.png">
                        <img src="image/play-store.png">
                    </div>
                </div>
                
                 <div class="footer-col-2">
                <img src="image/logo1.png">
                    <p>Give Your Thought A New Limits! </p>
                </div>
                     
               
                   
                <div class="footer-col-3">
                <h3>Usefull links</h3>
                   <ul>
                    <li>Cuppons</li>
                     <li>Blog post</li>
                        <li>Return Policy</li>
                       <li>Join Affiliate</li>
                    </ul>
                </div>
                
                
  
                
                 <div class="footer-col-4">
                <h3>Follow us </h3>
                   <ul>
                    <li>Facebook</li>
                     <li>Twitter</li>
                        <li>Instagram</li>
                       <li>Youtube</li>
                    </ul>
                </div>
                
                
             
                
                <hr>
                <p class="copyright">&copy; Copyright 2020 - ElectroNovas</p>
             </div>
        </div>
             </section>
        
        </div>
        
        
        
        <!--- js for toggle menu----->
        
        
        <script>
            var MenuItems =document.getElementById("MenuItems");
            MenuItems.style.maxHeight="0px";
            function menutoggle(){
                if(MenuItems.style.maxHeight=="0px")
                    {
                        MenuItems.style.maxHeight="200px";
                    }
                else
                {
                   MenuItems.style.maxHeight="0px" 
                }
            }
        
        
        </script>
        
        
        
         <!--- js for product galery----->
        
        
        
        <script>
        var Productimg=document.getElementById("Productimg");
        var smallimg=document.getElementsByClassName("small-img");   
            smallimg[0].onmouseup=function()
            {
                Productimg.src=smallimg[0].src;
            }
            smallimg[1].onmouseover=function()
            {
                Productimg.src=smallimg[1].src;
            }
            smallimg[2].onmouseover=function()
            {
                Productimg.src=smallimg[2].src;
            }
            smallimg[3].onmouseover=function()
            {
                Productimg.src=smallimg[3].src;
            }
            
            smallimg[4].onmouseover=function()
            {
                Productimg.src=smallimg[4].src;
            }
            
            smallimg[5].onmouseover=function()
            {
                Productimg.src=smallimg[5].src;
            }
            smallimg[6].onmouseover=function()
            {
                Productimg.src=smallimg[6].src;
            }
            smallimg[7].onmouseover=function()
            {
                Productimg.src=smallimg[7].src;
            }
            smallimg[8].onmouseover=function()
            {
                Productimg.src=smallimg[8].src;
            }
            
            
            
            
            
            
            
            
            
        
        </script>
        <script>
            document.querySelector(".btn").addEventListener("click", async (e)=>{
                e.preventDefault();
                alert("Item added to cart")
            })
        </script>
        
        
        
        
        
        
        
        
        
        
        
        
        
    </body>
</html>